@model IEnumerable<Taoyuan_Traffic.ViewModels.BusRouteDeserialize>
@{
    ViewBag.Title = "Index";
}
<h2>桃園動態公車API抓取</h2>

<table class="table" border="1">
    @*@foreach(var item in Model)
    {
        <tr>
            <td>@item.Azimuth</td>
        </tr>
    }*@
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.RouteName)
            </td>
        </tr>
    }
</table>

