@model IEnumerable<Taoyuan_Traffic.Models.BusRoute>
@{
    ViewBag.Title = "Index";
}
<h2>Add BusEstimate Info</h2>

@*<table class="table" border="1">
    @foreach(var item in model)
    {
        <tr>
            <td>@item.azimuth</td>
        </tr>
    }
    @foreach (var item in model)
    {
        <tr>
            <td>
                @html.displayfor(modelitem => item.routename)
            </td>
        </tr>
    }
</table>*@

